* {
    box-sizing: border-box;
}
body {
    font-family: 'Lato', sans-serif;
    margin: 0;
}
h1, h2, h3, h4, h5, h6, p, ul {
    padding: 0;
    margin: 0;
}
.container {
    max-width: 1140px;
    margin: auto;
}
.text-center {
    text-align: center;
}
.patterned-background {
    background-image: url('../assets/images/pattern-1.png');
}
.btn {
    border-radius: 4px;
    color: #ffffff;
    display: inline-block;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
}
/* header */
.header {
    background: #ffffff;
    padding: 16px;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
    z-index: 9999;
    height: 70px;
}
.header.navbar-fixed {
    position: fixed;
    width: 100%;
}
.header .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media only screen and (max-width: 767px) {
    .header .header-container {
        display: block;
    }
}
.header .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .header-container .burger-menu {
    display: none;
    border-radius: 8px;
    padding: 8px 16px;
    border: 1px solid #e8e8e8;
}
@media only screen and (max-width: 767px) {
    .header .header-container .burger-menu {
        display: block;
    }
}
.header .header-container .burger-menu i {
    color: #999999;
}

@media only screen and (max-width: 767px) {
    input[type="checkbox"]:checked ~ nav {
        display: block;
    }

    .header .header-container nav {
        display: none;
        position: absolute;
        top: 70px;
        background: white;
        width: 100%;
        left: 0;
        padding: 16px;
    }
}
.header .header-container ul li {
    display: inline-block;
    list-style: none;
}
@media only screen and (max-width: 767px) {
    .header .header-container ul li {
        display: block;
        margin-bottom: 16px;
    }
}
.header .header-container ul li:not(:last-child) {
    margin-right: 16px;
}
.header .header-container ul li a {
    text-transform: uppercase;
    color: #444444;
    text-decoration: none;
}
.header .header-container ul li a:hover {
    color: #56bc94;
}
/* Main */
main {
    padding-top: 70px;
}
/* Pricing  */
.pricing {
    background-color: #f5f5f5;
    padding: 56px;
}
@media only screen and (max-width: 991px) {
    .pricing {
        padding: 0px;
    }
}

.pricing h1 { 
    font-size: 32px;
    margin-bottom: 56px;
}
@media only screen and (max-width: 767px) {
    .pricing h1 { 
        padding-top: 32px;
    }
}
.pricing .items-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 100px;
}
@media only screen and (max-width: 991px) {
    .pricing .items-wrapper {
        flex-direction: column;
        padding: 0;
        align-items: center;
    }
}

.pricing .items-wrapper .item {
    padding: 16px;
    width: calc(100% / 3);
    border-radius: 4px;
}
@media only screen and (max-width: 767px) {
    .pricing .items-wrapper .item {
        width: 100%;
    }
}
.pricing .items-wrapper .item.professional .item-inner .heading {
    padding: 38px;
}
.pricing .items-wrapper .item.professional .item-inner .content .submit-button {
   margin-bottom: 36px;
}
.pricing .items-wrapper .item .item-inner {
    background-color: #ffffff;
    position: relative;
}
.pricing .items-wrapper .item .item-inner .heading {
    background-color: #c4e7d9;
    padding: 32px 16px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 4px;
    position: relative;
}
.pricing .items-wrapper .item .item-inner .heading .title {
    font-size: 18px;
    margin-bottom: 32px;
    color: #225742;
    padding-bottom: 15px;
    font-size: 18px;
    font-weight: normal;
}

.pricing .items-wrapper .item .item-inner .heading .price-details {
    width: 120px;
    height: 120px;
    background-color: #56bc94;
    position: absolute;
    padding: 32px 16px;
    margin: 0 auto;
    color: #ffffff;
    border: 4px solid #9fd9c2;
    bottom: -50%;
    left: 50%;
    margin-left: -60px;
    border-radius: 50%;
}
.pricing .items-wrapper .item .item-inner .heading .price-details .number {
    font-size: 24px;
}
.pricing .items-wrapper .item .item-inner .content {
    background-color: #ffffff;
    padding: 82px 16px 0 16px;
}
.pricing .items-wrapper .item .item-inner .content .feature-list {
    list-style: none;
}
.pricing .items-wrapper .item .item-inner .content .feature-list li {
    border-bottom: 1px solid #efefef;
    padding: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.pricing .items-wrapper .item .item-inner .content .feature-list li.disabled {
    color: #999999;
}
.pricing .items-wrapper .item .item-inner .content .feature-list li i {
    color: #56bc94;
    margin-right: 8px;
}
.pricing .items-wrapper .item .item-inner .content .feature-list li.disabled i {
    color: #999999;
}
.pricing .items-wrapper .item .item-inner .content .submit-button {
    background: #56bc94;
    border: 1px solid #56bc94;
    width: 100%;
    font-size: 14px;
    margin: 28px 0;
}
.pricing .items-wrapper .item .item-inner .popular {  
    position: absolute;
    top: -4px;
    right: -4px;
    width: 110px;
    height: 110px;
    overflow: hidden;
}
.pricing .items-wrapper .item .item-inner .popular .text {  
    position: relative;
    left: -8px;
    top: 18px;
    width: 158px;
    padding: 10px 10px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #3fa07a;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.pricing .items-wrapper .item .item-inner .popular .text:before,
.pricing .items-wrapper .item .item-inner .popular .text:after {
    content: '';
    position: absolute;
    bottom: -5px;
    border-top: 5px solid #225742;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}
.pricing .items-wrapper .item .item-inner .popular .text:before {
    left: 6px;
}
.pricing .items-wrapper .item .item-inner .popular .text:after {
    right: 2px;
}


/* Contact */
.contact {
    background-color: #56bc94;
    padding: 56px 0;
}
.contact .title {
   color: #ffffff;
   margin: 16px 0;
   font-size: 30px;
   font-weight: normal;
}
.contact .description {
    width: 50%;
    color: #ffffff;
    margin: auto;
    padding: 16px;
}
@media only screen and (max-width: 767px) {
    .contact .description {
        width: 100%;
    }
}
.contact ul.details {
    list-style: none;
    margin: 32px 0;
}
.contact ul.details li {
    color: #317b5e;
    margin: 8px 0;
}
.contact ul.details li i {
    margin-right: 8px;
}
.contact .contact-form {
    width: 50%;
    margin: auto;
}
@media only screen and (max-width: 767px) {
    .contact .contact-form {
        width: 100%;
    }
}
.contact .contact-form .form-input {
    border-color: #ffffff;
    height: auto;
    padding: 8px 16px;
}
.contact .contact-form .form-input input, .contact .contact-form .form-input textarea {
    border-color: #ffffff;
    height: auto;
    padding: 8px 16px;
    box-shadow: none;
    display: block;
    width: 100%;
    color: #495057;
    background-color: #ffffff;
    border: 1px solid #ced4da;
    border-radius: 4px;
    font-family: inherit;
}
::-webkit-input-placeholder { /* WebKit browsers */
    text-transform: uppercase;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    text-transform: uppercase;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    text-transform: uppercase;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    text-transform: uppercase;
}
::placeholder { /* Recent browsers */
    text-transform: uppercase;
}
.contact .contact-form .submit-button {
    border: 1px solid #56bc94;
    color: #fff;
    background-color: #317b5e;
    margin-top: 15px;
    font-size: 24px;
}